.footer {
  background-color: #0a2850;

  position: relative;
  color: #fff;
  overflow: hidden;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 80px;
}

.footer__logo {
  max-width: 100px;
  z-index: 2;
  width: 105px;
  height: 39px;
}

.footer__circle {
  width: 340px;
  height: 340px;
  background-color: #104080;
  border-radius: 50%;
  position: absolute;
  top: -128px;
  left: -44px;
  z-index: 1;
}

.footer__social {
}

.footer__social-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  text-align: right;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer__copyright {
  font-size: 0.9em;
  color: #fff;
  z-index: 2;
  margin-top: 108px;
  margin-bottom: 60px;
  margin-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
